.text-price {
    color: #614124;
    font-weight: bold;
    font-size: 18px;
}

.text-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.text-stock {
    color: #808080;
}

.btn-custom {
    background-color: #614124;
    color: #ffffff;
}

.btn-custom:hover {
   
    color: #ffffff;
}

.bg-custom {
    background-color: #614124 !important;
    color: #ffffff;
}

.btn-custom-close-modal {
    background-color: #808080;
    color: #ffffff;
}

.icon-custom {
    color: #614124;
}

.sidebar.sidebar-style-2 .nav.nav-primary>.nav-item.active>a {
    background-color: #614124 !important;
    box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 10%), 4px 4px 15px -5px rgb(21 114 232 / 40%);
}

.sidebar.sidebar-style-2 .nav.nav-primary>.nav-item.active>a p,
.sidebar.sidebar-style-2 .nav.nav-primary>.nav-item.active>a i,
.sidebar.sidebar-style-2 .nav.nav-primary>.nav-item.active>a .caret,
.sidebar.sidebar-style-2 .nav.nav-primary>.nav-item.active>a span {
    color: #ffffff !important;
}

.logo-header {
    background: #614124 !important;
}

.navbar-custom {
    background: #614124 !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:focus{
    background: #614124 !important;
}

.dropdown-item:focus, .dropdown-item:hover{
    background: #614124 !important;
    color: #ffffff;
}